.recommended-flex {
  display: flex;
  flex-wrap: wrap;
}

.recommended-title {
  all: unset;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0;
  font-size: 20px;
  width: fit-content;
}
.rec-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  padding: 20px;
}
