#BestSelling{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

}
* {
  box-sizing: border-box;
}
#section-container{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  position: relative;
  min-height: fit-content;
}

/* Clear floats after the columns */
/* .about-containers:after {
  content: "";
  display: table;
  clear: both;
} */
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: table;
  }

  .about-me-details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .details-container {
    padding: 1.5rem;
    float: left;
    width: 29%;
    margin: 30px;
    padding: 10px;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .details-container p{
    margin-bottom: 20px;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  .section__text__p1 {
    text-align: center;
  }
  .title {
    font-size: 3rem;
    text-align: center;
  }
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  .btn-color-2:hover {
    cursor: pointer;
    background: rgb(53, 53, 53);
  color: white;
  }

  .project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }
  @import url(https://fonts.googleapis.com/css?family=Varela+Round);

  
  .slides {
      padding: 0;
      width: 100%;
      height: 500px;
      display: block;
      margin: 0 auto;
      position: relative;
  }
  
  .slides * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
  }
  
  .slides input { display: none; }
  
  .slide-container { display: block; }
  
  .slide {
      top: 0;
      opacity: 0;
      width: 100%;
      height: 500px;
      display: block;
      position: absolute;
  
      transform: scale(0);
  
      transition: all .7s ease-in-out;
  }
  
  .slide img {
      width: 100%;
      height: 100%;
  }
  
  .nav label {
      width: 200px;
      height: 100%;
      display: none;
      position: absolute;
  
      opacity: 0;
      z-index: 9;
      cursor: pointer;
  
      transition: opacity .2s;
  
      color: #FFF;
      font-size: 156pt;
      text-align: center;
      line-height: 380px;
      font-family: "Varela Round", sans-serif;
      background-color: rgba(255, 255, 255, .3);
      text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }
  
  .slide:hover + .nav label { opacity: 0.5; }
  
  .nav label:hover { opacity: 1; }
  
  .nav .next { right: 0; }
  
  input:checked + .slide-container  .slide {
      opacity: 1;
  
      transform: scale(1);
  
      transition: opacity 1s ease-in-out;
  }
  
  input:checked + .slide-container .nav label { display: block; }
  
  .nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
  }
  
  .nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4,
  input#img-5:checked ~ .nav-dots label#img-dot-5,
  input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1400px) {
    .about-containers {
      flex-wrap: wrap;
    }
    .details-container {
      padding: 1.5rem;
      flex: 1;
      width: 40%;
      background: white;
      border-radius: 2rem;
      border: rgb(53, 53, 53) 0.1rem solid;
      border-color: rgb(163, 163, 163);
      text-align: center;
      display: flex;
      flex-direction: column;}
    
  }
  @media screen and (max-width: 1200px) {
  
    section,
    .section-container {
      height: fit-content;
    }
    #section-container{
      height: fit-content;
    }
    #section-container {
      margin: 0 5%;
    }
    .details-container {
      padding: 1.5rem;
      flex: 1;
      width: 40%;
      background: white;
      border-radius: 2rem;
      border: rgb(53, 53, 53) 0.1rem solid;
      border-color: rgb(163, 163, 163);
      text-align: center;
      display: flex;
      flex-direction: column;
  }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .about-containers:after {
      content: none;
      display: flex;
      clear: none;
    }
    
    .details-container {
        padding: 1.5rem;
        flex: 1;
        width: 90%;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .about-containers,
    .btn-container {
      flex-wrap: wrap;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }